@charset "utf-8";
/* CSS Document */
body {
	
	background-image:url("descarga (2).jfif");
	color: white;
}
h1 {
	color: cornflowerblue;
	width: 400px;
}
.thirdDiv {
	height: 600px;
	width: 400px;
	background-color:indianred;
	
	padding: 50px;
	border: solid black;
	
}

#SpanId {
	font-size: 18px;
	margin: 50px;
	
}